# Backend
backend/vendor/
backend/var/
backend/.env.local
backend/.env.local.php
backend/.env.*.local
backend/config/secrets/prod/prod.decrypt.private.php
backend/public/bundles/
backend/public/assets/
backend/assets/vendor/
backend/phpunit.xml
backend/.phpunit.cache/
backend/config/jwt/*.pem

# Frontend
frontend/node_modules/
frontend/.angular/
frontend/dist/

# VS Code
.vscode/