<header class="navbar">
  <div class="navbar__logo">
    <span class="logo-text">MANGA RAKE</span>
  </div>

  <div class="navbar__search">
    <input type="text" placeholder="Rechercher..." [(ngModel)]="searchQuery" />
    <span class="search-icon">🔍</span>
  </div>

    <div class="navbar__actions">
        <a class="navbar__panier" routerLink="/panier">
        <span class="icon">🛒</span>
        <span class="label">Mon panier</span>
        <span class="panier-badge" *ngIf="panierCount > 0">{{ panierCount }}</span>
        </a>
        <a routerLink="/login">
        <span class="icon">👤</span>
        <span class="label">Mon compte</span>
        </a>
    </div>
    </header>